<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="SharpGit_LICENSES">
      <?ifndef SharpGit_NoSvnLicenses?>
      <ComponentRef Id="C_SGITLICENSE_Apr" />
      <ComponentRef Id="C_SGITLICENSE_AprUtil" />
      <ComponentRef Id="C_SGITLICENSE_OpenSsl" />
      <ComponentRef Id="C_SGITLICENSE_ZLib" />
      <?endif?>
      <ComponentRef Id="C_SGITLICENSE_SharpGit" />
      <ComponentRef Id="C_SGITLICENSE_LibGit2" />
      <ComponentRef Id="C_SGITLICENSE_LibSSH2" />
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="DIR_SharpGitLicenses" FileSource="$(sys.SOURCEFILEDIR)">
      <Component Id="C_SGITLICENSE_Apr" Guid="DA886142-3B35-46A1-81A2-7ED98A699E29">
        <File Id="CF_SGITLICENSE_Apr" Name="Apr-License.txt" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="C_SGITLICENSE_AprUtil" Guid="60DCC15B-185A-4C01-9EF2-49219227BC0D">
        <File Id="CF_SGITLICENSE_AprUtil" Name="Apr-Util-License.txt" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="C_SGITLICENSE_OpenSsl" Guid="40014BC1-2314-4AE2-B9E4-776805A48EBE">
        <File Id="CF_SGITLICENSE_OpenSsl" Name="OpenSsl-License.txt" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="C_SGITLICENSE_ZLib" Guid="B26E4697-80B7-4FF8-9549-0C5F0449FF15">
        <File Id="CF_SGITLICENSE_ZLib" Name="ZLib-License.txt" Vital="yes" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="DIR_SharpGitLicenses" FileSource="$(sys.SOURCEFILEDIR)">
      <Component Id="C_SGITLICENSE_SharpGit" Guid="A84EAD0F-ADED-423D-B149-A257BAF67F75">
        <File Id="CF_SGITLICENSE_SharpGit" Name="SharpGit-License.txt" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="C_SGITLICENSE_LibGit2" Guid="21C257F5-D890-4409-AFC9-958D31EA8BEC">
        <File Id="CF_SGITLICENSE_LibGit2" Name="Libgit2-License.txt" Vital="yes" KeyPath="yes"/>
      </Component>
      <Component Id="C_SGITLICENSE_LibSSH2" Guid="3BF8050B-3436-4049-B983-BDEC3794E75D">
        <File Id="CF_SGITLICENSE_LibSSH2" Name="LibSSH2-License.txt" Vital="yes" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
